TELEGRAM_BOT_TOKEN=8843391595:AAHpjyBKGmlbAYah_EIAsX1ywO_4Ja7L9KM
OPENAI_API_KEY=AIzaSyBEfssvVqMqTYM8nSxBEy6vGCTe-2MHTJ8
GEMINI_API_KEY=AIzaSyBEfssvVqMqTYM8nSxBEy6vGCTe-2MHTJ8
ANTHROPIC_API_KEY=sk-ant-...
OLLAMA_BASE_URL=http://host.docker.internal:11434
DATABASE_URL=sqlite+aiosqlite:///./app.db
LOG_LEVEL=INFO
